#seminars {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #efefef;
}

#events {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #dde9ed;
}

h2 {
    color: #054899;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.activities-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
    justify-content: center;
}

.activity-in {
    background: #fff;
    height: 100%;
    padding: 15px;
    border-radius: 3px;
}

.activity-out {
    padding: 5px;
    font-family: Cambria, "Times New Roman", Times, serif;
}

.activity-logo {
    display: block;
    margin: auto;
    width: 75%;
    padding: 10px;
    border-radius: 50%;
}

.activity-detail-logo {
    object-fit: cover;
}

.activity-name {
    text-align: center;
    font-size: 150%;
    margin: 10px;
}

.activity-date {
    text-align: center;
    margin: 10px;
}

.gridder-padding {
    margin: 20px 8px 20px 8px;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 0 1px 3px #0478dc;
    background-color: #fff;
}

.gridder-expanded-content {
    display: flex;
}

.activity-field {
    display: none;
}
