#footer {
    background-color: #3f3f3f;
    color: #bbb;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 650px) {
    #footer-flex {
        justify-content: center !important;
    }

    #footer-text {
        text-align: center !important;
    }
}

#footer p {
    margin: 10px;
}

#footer-text {
    text-align: right;
}

#footer a {
    color: #bbb;
}

.logos {
    margin: 13px;
    display: flex;
    align-items: center;
}

.logos a {
    width: 64px;
    height: 44px;
    display: inline-block;
    background-size: cover;
    margin-right: 20px;
}

#logo-muni {
    background-image: url("../static/logo/muni.svg");
}

#logo-sci {
    background-image: url("../static/logo/sci.svg");
}

#logo-fi {
    background-image: url("../static/logo/fi.svg");
}

#logo-econ {
    background-image: url("../static/logo/econ.svg");
}

#logo-muni:hover {
    background-image: url("../static/logo/muni-hover.svg");
}

#logo-sci:hover {
    background-image: url("../static/logo/sci-hover.svg");
}

#logo-fi:hover {
    background-image: url("../static/logo/fi-hover.svg");
}

#logo-econ:hover {
    background-image: url("../static/logo/econ-hover.svg");
}

.logos-invisible {
    opacity: 0.001;
    height: 1px;
}
