#footer {
    background-color: #3f3f3f;
    color: #bbb;
    text-align: center;
}

#footer p {
    margin: 10px;
}

#footer-left {
    float: left;
}

#footer-right {
    float: right;
}

@media screen and (max-width: 1199px) {
    .brochure-image {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .brochure-image {
        width: 85%;
    }
}
