.gridder {
}

.gridder-list, .gridder-show {
}

.gridder li {
    display: inline-block;
}

.gridder-show {
    float: left;
    width: 100%;
    position: relative;
}

.gridder-content {
    display: none;
}
