.gridder {
}

.gridder-list, {
}

.gridder-show {
    margin: 20px 8px 20px 8px;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 0 1px 3px #0478dc;
    background-color: #fff;
}

.selectedItem .activity-in {
    box-shadow: 0 0 1px 3px #0478dc;
}

.gridder li {
    display: inline-block;
}

.gridder-show {
    float: left;
    width: 100%;
    position: relative;
}

.gridder-content {
    display: none;
}
