#header {
    background-color: #b4ebfc;
    padding-left: 0px;
    padding-right: 0px;
}

#head-img {
    width: 100%;
}

.header-photo {
    height: 430px;
    background: url('/static/header.png') center center no-repeat scroll;
    background-size: cover;
}

#head-caption {
    position: absolute;
    top: 105px;
}

@media screen and (min-width: 768px) {
    #head-caption {
        left: 50%;
    }
}

@media screen and (max-width: 767px) {
    #head-caption {
        left: 0;
        text-align: center;
        width: 100%;
    }
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #054899;
    font-weight: bold;
    font-size: 43px;
}

#header a:hover {
    text-decoration: none;
    color: #054899;
}

#header > a {
    width: 100%;
    height: 100%;
    display:block;
}

.subcaption {
    font-size: 35px;
}

h1 > a {
    color: #054899;
}

.btn-more-info {
    margin-top: 10px;
    background-color: Transparent; !important;
    border: 3px solid #054899;
    color: #054899;
    font-weight: bold;
    padding: 1px 12px;
}

.btn-more-info:hover {
    border: 3px solid white;
}
