#header {
    background-color: #b4ebfc;
}

#head-img {
    width: 100%;
}

.header-photo {
    height: 350px;
    background: url('/static/header.png') center center no-repeat scroll;
    background-size: cover;
}

#head-caption {
    position: absolute;
    top: 100px;
    left: 50%;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #054899;
    font-weight: bold;
    font-size: 30px;
}
