#header {
    background-color: #b4ebfc;
}

#head-img {
    width: 100%;
}

.header-photo {
    height: 430px;
    background: url('/static/header.png') center center no-repeat scroll;
    background-size: cover;
}

#head-caption {
    position: absolute;
    top: 105px;
    left: 50%;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #054899;
    font-weight: bold;
    font-size: 43px;
}

.subcaption {
    font-size: 35px;
}

h1 > a {
    color: #054899;
}

.btn-more-info {
    margin-top: 10px;
    background-color: Transparent; !important;
    border: 3px solid #054899;
    color: #054899;
    font-weight: bold;
    padding: 1px 12px;
}
