html,body{
    height: 100%;
    width: 100%;
}

#wrapper {
    position: relative;
    min-height: 100%;
}

#seminars {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #efefef;
}

#activities {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #dde9ed;
}

#header {
    background-color: #b4ebfc;
}

#head-img {
    width: 100%;
}

#footer {
    background-color: #3f3f3f;
    height: 50px; /* TODO */
}

.header-photo {
    height: 350px;
    background: url('/static/header.png') center center no-repeat scroll;
    background-size: cover;
}

h2 {
    color: #054899;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#activities-list {
    display: flex;
    flex-wrap: wrap;
}

.activity-in {
    background: #fff;
    height: 100%;
    padding: 15px;
    border-radius: 3px;
}

.activity-out {
    padding: 5px;
}

.activity-logo {
    display: block;
    margin: auto;
    width: 75%;
}

.activity-name {
    text-align: center;
    font-size: 150%;
    margin: 15px;
}

.activity-date {
    text-align: center;
    margin: 15px;
}

