html,body{
    height: 100%;
    width: 100%;
}

#wrapper {
    position: relative;
    min-height: 100%;
}

#about {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #efefef;
    text-align: center;
}

p {
    font-family: Cambria, "Times New Roman", Times, serif;
}

@media (max-width: 480px) {
  .col-xxs-12 {
    width: 100% !important;
  }
}
