.navbar-main {
    text-align: center;
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}

.navbar-main li {
    display: inline-block;
    float: none;
    background-color: #0087e2;
    color: #fff;
}

.navbar-main li > a {
    color: #fff;
    font-weight: bold;
}

.navbar-main li > a:hover {
    color: #0087e2;
    background-color: #fff;
}

.navbar-field {
    margin-bottom: 30px;
}

.navbar-field li {
    width: 110px;
}

.navbar-field li:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 15px #0087e2;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}

.navbar-head {
   margin-top: 30px;
}

.navbar-head li {
    width: 110px;
}

.navbar-head li > a {
    padding: 5px;
    text-transform: uppercase;
}
