.gridder-expanded-content {
    background-color: #fff;
}

.gridder-show {
    box-shadow: 0px 3px 1px 0px #7594f9, -3px 0px 1px 0px #7594f9, 3px 0px 1px 0px #7594f9;
    border-radius: 3px;
    margin-bottom: 10px;
}

.selectedItem .soc-in {
    box-shadow: 0px -3px 1px 0px #7594f9, -3px 0px 1px 0px #7594f9, 3px 0px 1px 0px #7594f9;
}

.selectedItem {
    padding-bottom: 0px !important;
}

.soc-topics-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
    justify-content: center;
}

.soc-in {
    height: 100%;
    padding: 5px 15px 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    padding-right: 70px; /* for arrows (they must stick at bottom) */
    background: white url('/static/arrows.svg') center right 25px no-repeat;
    display: flex;
    justify-content: space-between;
}

.soc-in:hover {
    background: white url('/static/arrows-hover.svg') center right 25px no-repeat;
}

.selectedItem .soc-in {
    background: white url('/static/arrows-hover.svg') center right 25px no-repeat;
}

.soc-detail {
    padding: 15px 25px 20px 25px;
}

.soc-name {
    font-size: 120%;
    margin: 10px;
}

.soc-garant {
    padding-top: 30px;
    padding-bottom: 40px;
}

.soc-topics-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
    justify-content: center;
}

.soc-out {
    padding: 5px 0px 5px 0px;
    font-family: Cambria, "Times New Roman", Times, serif;
}

.soc-field-image {
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 0px;
    float: left;
}

.field-icons {
    white-space: nowrap;
    flex-shrink: 0; /* Never shrink! */
}
