<!doctype html>
<html lang="cs">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/activities.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/gridder.css">

  <link rel="icon" type="image/png" href="/static/favicon-m.png" />

  <meta name="description" content="SOČky na Masarykově univerzitě pro studenty středních škol.">
  <meta name="keywords" content="MUNI,MU,střední,škola,akce,SOČ">
  <meta name="author" content="Honza Horáček, Áďa Miklíková, Martin Ukrop">
  <meta name="robots" content="index,follow">

  <meta property="og:title" content="SOČ na MUNI pro středoškoláky" />
  <meta property="og:type" content="website" />
  <meta property="og:url"content="https://prostredoskolaky.muni.cz/soc" />
  <meta property="og:image" content="https://prostredoskolaky.muni.cz/static/fb_preview.png" />
  <meta property="og:description" content="SOČky na Masarykově univerzitě pro studenty středních škol." />

  <title>SOČ na MUNI pro středoškoláky</title>
 </head>

 <body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/js/jquery.gridder.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/shuffle.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111691156-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111691156-3');
  </script>

  <div id="wrapper">
   <div class="container-fluid header-photo-soc" id="header">
    <a href="/soc">
     <div id="stitek">
      <img src="/static/mu_stitek.svg" />
     </div>
     <div id="head-caption">
      <h1>SOČ na MUNI<br>
      <span class="subcaption">pro středoškoláky</span></h1>
      <a href="/" class="btn btn-more-info">Zpět na všechny akce</a>
     </div>
    </a>
   </div>

   <div class="container-flex" id="seminars">
    <div class="container">
     <h2>Středoškolská odborná činonst</h2>
     <p>Určitě nezapomeň navšívit <a href="http://www.soc.cz/" target="_blank">oficiální web SOČky</a>. Za zmínku stojí také web <a href="http://www.sockari.cz/" target="_blank">SOČkaři.cz</a>, který podává všechny důležité informace pro každého SOČkaře na jednom místě. Spousta (nejen) našich SOČek je podpořená organizací <a href="http://jcmm.cz/" target="_blank">JCMM</a>. Určitě koukni na <a href="http://www.jcmm.cz/projekt/soc_studenti#pageId10" target="_blank">jejich web</a>, můžeš si tam prohlédnout konkrétní podpořená téma a pokud stále váháš, nějaké si vybrat.
     </p>

     <div id="center-buttons">
     <a href="http://www.sockari.cz/" target="_blank" class="btn activity-detail-link">SOČkaři.cz</a>
     <a href="http://www.jcmm.cz/projekt/soc_studenti#pageId10" target="_blank" class="btn activity-detail-link">Témata SOČ podpořená JCMM</a>
     </div>

    </div>
   </div>

   <div class="container-flex" id="white">
    <div class="container">

     <h2>SOČ na Přírodovědecké fakultě MU</h2>
     <p>Informace o aktuálně vypsaných tématech najdou studenti zde a na <a href="http://www.jcmm.cz/projekt/soc_studenti#pageId10">stránách JCMM k SOČ</a>. Pro bližší obecné informace či nasměrování k vhodnému vedoucímu lze kontaktovat: <a href="https://is.muni.cz/osoba/jayasundera" target="_blank">Zuzana Jayasundera</a>. V případě zájmu psát SOČ u konkrétního odborníka z PřF MU je nejlepší jej kontaktovat přímo.

     <h4>Botanická zahrada Přírodovědecké fakulty</h4>

     <p>Volná témata:</p>

     <ul>
      <li><a href="https://is.muni.cz/osoba/685" target="_blank">Magdaléna Chytrá</a>: Trvalá expozice semen a plodů v botanické zahradě</li>
     </ul>

     <h4>Geografický ústav</h4>

     <p>Budeme rádi spolupracovat se studenty, kteří mají zájem o fyzickou 
     geografii, sociální geografii či kartografii a geoinformatiku. Zájemci 
     o téma se mohou informovat přímo u jednotlivých školitelů. V případě, 
     že máte nápad na nějaké vlastní téma a potřebujete odbornou radu, 
     napište na <a>dobro@sci.muni.cz</a>, pokusíme se vám poradit či najít školitele.</p>

     <p>Volná témata:</p>

     <ul>
      <li><a href="https://is.muni.cz/osoba/184504" target="_blank">Ondřej Šerý</a>: Komparace socioekonomických aspektů Jihomoravského kraje a vybraného zemědělského regionu Francie</li>
      <li><a href="https://is.muni.cz/osoba/184504" target="_blank">Ondřej Šerý</a>: Prostorové aspekty vegetariánského stravování v Brně</li>
      <li><a href="https://is.muni.cz/osoba/14463" target="_blank">Zdeněk Stachoň</a>: Mapování prostorové orientace sakrálních staveb</li>
      <li><a href="https://is.muni.cz/osoba/80142" target="_blank">Robert Osman</a>: Bezbariérový prostor města</li>
      <li><a href="https://is.muni.cz/osoba/80142" target="_blank">Robert Osman</a>: Nástroje časového plánování</li>
     </ul>

     <h4>Ústav biochemie</h4>
     <p>Vypsaná témata lze najít <a href="http://botzool.sci.muni.cz/files/soc.pdf" target="_blank">v PDF na webu ústavu</a>.
     V případě, že si student téma vymyslí sám, je třeba kontaktovat vhodného vedoucího přímo.</p>

     <h4>Ústav botaniky a zoologie</h4>

     <p>Témata lze najít <a href="http://botzool.sci.muni.cz/files/soc.pdf" target="_blank">v PDF na webu ústavu</a>.
     V případě zájmu o konkrétní téma je nejlepší kontaktovat vedoucího tématu.
     Kontaktní osoba ohledně SOČ obecně: <a href="https://is.muni.cz/osoba/75764" target="_blank">Eva Šmerdová</a>.</p>

     <h4>Ústav experimentální biologie</h4>

     <p>Kontaktní osoba ohledně SOČ obecně: <a href="https://is.muni.cz/osoba/408880" target="_blank">Júlia Kováčová</a>.</p>

     <p>Volná témata:</p>
     <ul>
      <li><a href="https://is.muni.cz/osoba/23696" target="_blank">Zbyněk Prokop</a>: Laboratoře na čipu v přírodních a lékařských vědách</li>
      <li><a href="https://is.muni.cz/osoba/23696" target="_blank">Zbyněk Prokop</a>: Molekulární podstata a evoluce aktivity enzymů</li>
      <li><a href="https://is.muni.cz/osoba/23696" target="_blank">Zbyněk Prokop</a>: Studium molekulární struktury a stability proteinů</li>
      <li><a href="https://is.muni.cz/osoba/1441" target="_blank">Jiří Damborský</a>: Mikrofluidika - laboratoře na čipu pro biomedicínský výzkum</li>
      <li><a href="https://is.muni.cz/osoba/1441" target="_blank">Jiří Damborský</a>: Vývoj softwarových nástrojů pro design proteinů v biomedicíně</li>
      <li><a href="https://is.muni.cz/osoba/1441" target="_blank">Jiří Damborský</a>: Počítačové modelování enzymatických reakcí</li>
      <li><a href="https://is.muni.cz/osoba/1441" target="_blank">Jiří Damborský</a>: Strukturní analýza terapeutických proteinů</li>
      <li><a href="https://is.muni.cz/osoba/241182" target="_blank">Marek Martin</a>: Studium mechanismu enzymové katalýzy metodami rentgenové krystalografie</li>
      <li><a href="https://is.muni.cz/osoba/241182" target="_blank">Marek Martin</a>: Využití 3D kryo-elektronové mikroskopie pro studium struktury proteinů</li>
      <li><a href="https://is.muni.cz/osoba/241182" target="_blank">Marek Martin</a>: Inženýrství nových oligomerních forem enzymů pro biotechnologické aplikace</li>
      <li><a href="https://is.muni.cz/osoba/57" target="_blank">Miloš Barták</a>: Funkčně-anatomické charakteristiky antarktických řas a sinic</li>
     </ul>

     <h4>Ústav fyzikální elektroniky</h4>

     <p>Volná témata:</p>

     <ul>
      <li><a href="mailto:408765@mail.muni.cz">Katarína Bernátová</a>: Meranie depozičnej rýchlosti reaktívneho magnetrónového naprašovania pri využití 3 reaktívnych plynov (O2/N2/C2H2)</li>
      <li><a href="mailto:408765@mail.muni.cz">Katarína Bernátová</a>: Štúdium emisných čiar atómov a iónov v plazme optickou spektroskopiou počas magnetrónového naprašovania</li>
      <li><a href="mailto:408765@mail.muni.cz">Katarína Bernátová</a>: Príprava novej úlohy do fyzikálneho praktika o štúdii fotoluminiscenčných procesov</li>
     </ul>

     <h4>Ústav geologických věd</h4>

     <p>Kontaktní osoba ohledně SOČ obecně: <a href="https://is.muni.cz/osoba/9098" target="_blank">Kateřina Zachovalová</a>.</p>

     <p>Volná témata:</p>
     <ul>
      <li><a href="https://is.muni.cz/osoba/21802" target="_blank">Radek Škoda</a>: Využití Ramanovy spektroskopie k určení vlivu laserové ablace na stupeň krystalinity pevných fází v bezprostředním okolí ablačních kráterů</li>
      <li><a href="https://is.muni.cz/osoba/327939" target="_blank">Jakub Haifler</a>: Možnosti vizualizace vybraných parametrů Ramanovských spekter Ca-Mg-Fe- granátu kombinací ternárního diagramu a barevného škálování</li>
      <li><a href="https://is.muni.cz/osoba/2143" target="_blank">Šárka Hladilová</a>: Komensalismus v paleontologickém záznamu</li>
      <li><a href="https://is.muni.cz/osoba/309580" target="_blank">Marek Lang</a>: Studium proudění vzduchu v dynamické Císařské jeskyni</li>
      <li><a href="https://is.muni.cz/osoba/175438" target="_blank">Tomáš Kumpan</a>: Mikropaleontologie prvohorních vápenců z vybrané lokality v Moravském krasu</li>
      <li><a href="https://is.muni.cz/osoba/2488" target="_blank">Marek Slobodník</a>: Studium recentních říčních sedimentů a jejich těžkých frakcí</li>
      <li><a href="https://is.muni.cz/osoba/2488" target="_blank">Marek Slobodník</a>: Kryotermometrie a výpočet podílu rozpuštěných solí v hydrotermálním roztoku</li>

      <li><a href="https://is.muni.cz/osoba/134057" target="_blank">Martin Ivanov</a>: Výzkum intenzity mikrobiální dekompozice organických látek v půdách metodou TBi v lesním prostředí</li>
      <li><a href="https://is.muni.cz/osoba/134057" target="_blank">Martin Ivanov</a>: Výzkum intenzity mikrobiální dekompozice organických látek v půdách metodou TBi na otevřených biotopech</li>
      <li><a href="https://is.muni.cz/osoba/211661" target="_blank">Pavel Pracný</a>: Teplotní profil Punkevními jeskyněmi</li>
     </ul>

     <h4>Národní centrum pro výzkum biomolekul</h4>

     <p>Volná témata:</p>

     <ul>
      <li><a href="https://is.muni.cz/osoba/393906" target="_blank">Zuzana Hammerová</a>: Vliv psychofarmak na metabolický syndrom.</li>
     </ul>

    </div>
   </div>

   <div class="container-flex" id="seminars">
    <div class="container">
     <h2>SOČ na Fakultě informatiky MU</h2>
     <p>Obecné dotazy ohledně psaní SOČ na fakultě vám odpoví <a href="https://is.muni.cz/osoba/petr.kubicek" target="_blank">Petr Kubíček</a>.</p>
    </div>
   </div>

   <div class="container-flex" id="white">
    <div class="container">
     <h2>SOČ na Ekonomicko-správní fakultě MU</h2>
     <p>
     Chceš psát SOČ na ECON MUNI? My tě chceme taky!

     Koukni na náš web: <a href="https://www.econ.muni.cz/cs">
     https://www.econ.muni.cz/cs</a>.
     </p>

     <p>Volná témata:</p>
     <ul>
      <li><a href="https://is.muni.cz/osoba/vilem" target="_blank">Vilém Pařil</a>: Financování dopravní infrastruktury v ČR</li>
      <li><a href="https://is.muni.cz/osoba/vilem" target="_blank">Vilém Pařil</a>: Financování ochrany životního prostředí</li>
      <li><a href="https://is.muni.cz/osoba/vilem" target="_blank">Vilém Pařil</a>: Financování památkové péče v ČR</li>
      <li><a href="https://is.muni.cz/osoba/21026" target="_blank">Andrea Holešinská</a>: Vliv vlády na podnikání v cestovním ruchu</li>
      <li><a href="https://is.muni.cz/osoba/254893" target="_blank">Dominika Tóthová</a>: Ekonomické souvislosti ochrany životního prostředí</li>
      <li><a href="https://is.muni.cz/osoba/kvizda" target="_blank">Martin Kvizda</a>: Poptávka po dopravě na vybrané železniční lince</li>
      <li><a href="https://is.muni.cz/osoba/22939" target="_blank">Daniel Němec</a>: Produktivita práce a mzdy v České republice a zemích Evropské unie</li>
     </ul>

     <p>A další témata po konzultaci na katedrách. Informace vám podá
     <a href="https://is.muni.cz/osoba/jnavrati" target="_blank">Jolana Navrátilová</a>.</p>

    </div>
   </div>

   <div class="container-flex" id="footer">
    <div class="container">
     <div id="footer-flex">
      <div class="logos">
       <a id="logo-mu" href="http://muni.cz/" target="_blank"></a>
       <a id="logo-prf" href="http://sci.muni.cz/" target="_blank"></a>
       <a id="logo-fi" href="http://fi.muni.cz/" target="_blank"></a>
       <a id="logo-esf" href="http://econ.muni.cz/" target="_blank"></a>

       <div class="logos-invisible">
        <!-- Preload hover logos to prevent flickering. -->
        <img src="/static/logo/mu-hover.svg" width="1" height="1" />
        <img src="/static/logo/prf-hover.svg" width="1" height="1" />
        <img src="/static/logo/fi-hover.svg" width="1" height="1" />
        <img src="/static/logo/esf-hover.svg" width="1" height="1" />
       </div>
      </div>

      <div id="footer-text">
       <p><a href="https://creativecommons.org/licenses/by-nc/4.0/">
          CC BY-NC v4.0</a> Masarykova univerzita<br>
          Poslední změna: {{build_datetime}}</p>
      </div>
     </div>
    </div>
   </div>
  </div>

 </body>
</html>
