<!doctype html>
<html lang="cs">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/activities.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/gridder.css">

  <link rel="icon" type="image/png" href="/static/favicon-m.png" />

  <meta name="description" content="SOČky na Masarykově univerzitě pro studenty středních škol.">
  <meta name="keywords" content="MUNI,MU,střední,škola,akce,SOČ">
  <meta name="author" content="Honza Horáček, Áďa Miklíková, Martin Ukrop">
  <meta name="robots" content="index,follow">

  <meta property="og:title" content="SOČ na MUNI pro středoškoláky" />
  <meta property="og:type" content="website" />
  <meta property="og:url"content="https://prostredoskolaky.muni.cz/soc" />
  <meta property="og:image" content="https://prostredoskolaky.muni.cz/static/fb_preview.png" />
  <meta property="og:description" content="SOČky na Masarykově univerzitě pro studenty středních škol." />

  <title>SOČ na MUNI pro středoškoláky</title>
 </head>

 <body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/js/jquery.gridder.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/shuffle.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111691156-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111691156-3');
  </script>

  <div id="wrapper">
   <div class="container-fluid header-photo-soc" id="header">
    <a href="/soc">
     <div id="stitek">
      <img src="/static/mu_stitek.svg" />
     </div>
     <div id="head-caption">
      <h1>SOČ na MUNI<br>
      <span class="subcaption">pro středoškoláky</span></h1>
      <a href="/" class="btn btn-more-info">Zpět na všechny akce</a>
     </div>
    </a>
   </div>

   {{garants}}

   <div class="container-flex" id="footer">
    <div class="container">
     <div id="footer-flex">
      <div class="logos">
       <a id="logo-sci" href="http://sci.muni.cz/" target="_blank"></a>
       <a id="logo-fi" href="http://fi.muni.cz/" target="_blank"></a>
       <a id="logo-econ" href="http://econ.muni.cz/" target="_blank"></a>

       <div class="logos-invisible">
        <!-- Preload hover logos to prevent flickering. -->
        <img src="/static/logo/sci-hover.svg" width="1" height="1" />
        <img src="/static/logo/fi-hover.svg" width="1" height="1" />
        <img src="/static/logo/econ-hover.svg" width="1" height="1" />
       </div>
      </div>

      <div id="footer-text">
       <p><a href="https://creativecommons.org/licenses/by-nc/4.0/">
          CC BY-NC v4.0</a> Masarykova univerzita<br>
          Poslední změna: {{build_datetime}}</p>
      </div>
     </div>
    </div>
   </div>
  </div>

 </body>
</html>
