<li class="soc-out w-100 gridder-list"
    data-griddercontent="#{{id}}-soc-gridder" id={{id}}>
<div class="soc-in" name="{{id}}">
 <div class="soc-name">{{name}}</div>
 <div class="field-icons">
  {{field-icons}}
 </div>
</div>

<div id="{{id}}-soc-gridder" class="gridder-content">
 <div class="soc-detail">
  <div class="orgs">Vedoucí práce: <a href="mailto:{{contact}}">{{head}}</a>,
       <a href="mailto:{{contact}}">{{contact}}</a></div>
  <p>{{annotation}}</p>
   <a href="mailto:{{contact}}" class="btn main-button soc-go-button">Kontaktovat vedoucího</a>
 </div>
</div>
</li>
