<li class="activity-out col-md-3 col-xs-12 col-sm-4 gridder-list"
    data-griddercontent="#{{gridder-div-id}}">
<div class="activity-in">
 <img class="activity-logo" src="{{logo}}" />
 <div class="activity-name">{{name}}</div>
 <div class="activity-date">{{duration}}</div>
</div>


<div id="{{gridder-div-id}}" class="gridder-content">
 <img class="activity-detail-logo col-md-3 hidden-xs col-sm-4" src="{{image}}" />

 <div class="activity-detail-text col-md-9 col-xs-12 col-sm-8">
  <p>{{annotation}}</p>

  <p><a href="{{link}}">{{link}}</a></p>
 </div>
</div>
</li>
