<li class="activity-out col-md-3 col-xs-12 col-sm-4 gridder-list"
    data-griddercontent="#{{gridder-div-id}}">
<div class="activity-in">
 <img class="activity-logo" src="{{logo}}" onerror="this.src='static/no-image.svg'" />
 <div class="activity-name">{{name}}</div>
 <div class="activity-date">{{duration}}</div>
</div>


<div id="{{gridder-div-id}}" class="gridder-content">
 <a href="{{link}}" class="col-md-3 hidden-xs col-sm-4 activity-image-link">
  <img class="activity-detail-logo" src="{{image}}"
       onerror="this.src='static/no-image.svg'" />
 </a>

 <div class="activity-detail-text col-md-9 col-xs-12 col-sm-8">
  <p>{{annotation}}</p>

  <p><a href="{{link}}">{{link}}</a></p>
 </div>
</div>
</li>
