<!doctype html>
<html lang="cs">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/activities.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/gridder.css">

  <link rel="icon" type="image/png" href="/static/favicon-m.png" />

  <meta name="description" content="Akce Masarykovy univerzity pro studenty středních škol.">
  <meta name="keywords" content="MUNI,MU,střední,škola,akce,seminář,soutěž,workshop,brožura">
  <meta name="author" content="Honza Horáček, Áďa Stopka, Martin Ukrop">
  <meta name="robots" content="index,follow">

  <meta property="og:title" content="Akce MU pro středoškoláky" />
  <meta property="og:type" content="website" />
  <meta property="og:url"content="https://prostredoskolaky.muni.cz/" />
  <meta property="og:image" content="https://prostredoskolaky.muni.cz/static/fb_preview.png" />
  <meta property="og:description" content="Akce Masarykovy univerzity pro studenty středních škol." />

  <title>Akce MU pro středoškoláky</title>

 </head>

 <body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/js/jquery.gridder.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/shuffle.js"></script>
  <script src="/js/matomo.js"></script>

  <div id="wrapper">
   <div class="container-fluid header-photo" id="header">
    <a href="/">
     <div id="stitek">
      <img src="/static/mu_stitek.svg" />
     </div>
     <div id="head-caption">
      <h1>Akce MU<br>
      <span class="subcaption">pro středoškoláky</span></h1>
      <a href="#{{about-id}}" class="btn btn-more-info">Více info</a>
     </div>
    </a>
   </div>


   <div class="container-flex" id="seminars">
    <div class="container c-seminars">
     <nav class="navbar navbar-main navbar-field">
      <div class="navbar-header">
       <span class="navbar-brand visible-xs">Obory</span>
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
        <span class="icon-bar"></span>
       </button>
      </div>

      <div class="collapse navbar-collapse" id="navbar-main">
       <ul class="nav">
        {{navbar-fields}}
       </ul>
      </div>
     </nav>

     {{events_header}}

     <ul id="seminars-list" class="activities-list gridder">
      {{seminars}}
     </ul>
    </div>

   {{#if field=informatika}}
    <div class="container c-events fontsize-90">
    <p>Uvedené aktivity probíhají díky podpoře Ministerstva školství, mládeže
    a tělovýchovy, dotace na podporu nadaných žáků základních a středních škol
    v roce 2020 (projekt č. 0039/7/NAD/2020).</p>
    </div>
   {{/if}}

   </div>


   {{#if events}}
   <div class="container-flex" id="events">
    <div class="container c-events">
     <h2>Další akce</h2>
     <ul id="events-list" class="activities-list gridder">
      {{events}}
     </ul>
    </div>
   </div>
   {{/if}}

   <div class="container-flex about" id="{{about-id}}">
    <div class="container">
     <div class="row">
      <h2 class="hidden-md hidden-lg">O akcích</h2>

      <div class="col-md-9 col-xs-12 col-sm-8">
       <h2 class="visible-md visible-lg">O akcích</h2>

       <p>Tento web sdružuje akce Přírodovědecké fakulty, Fakulty informatiky a 
       Ekonomicko-správní fakulty Masarykovy univerzity pro středoškoláky.
       Můžeš na něm najít například korespondenční semináře nejrůznějších oborů,
       kroužky, workshopy, soutěže, letní školy a mnoho dalšího.
       Akce jsou k dispozici také ve formě
       <a href="/static/brozura.pdf">brožury</a>.
       Akce na tomto webu se čas od času mění, historii webu lze nalézt
       v <a href="https://github.com/zverinec/prostredoskolaky-web">gitovém repozitáři</a>.</p>

       <p>Tuto stránku spravuje <a href="http://zverinec.fi.muni.cz/">Spolek
       přátel severské zvěře</a> <a href="http://fi.muni.cz/">FI MU</a>.<br/>
       Chceš-li změnit údaje u svojí aktivity uvedené na tomto webu, uprav
       je v <a href="https://drive.google.com/drive/folders/0APyh4eScKzhAUk9PVA" target="_blank">správcovské tabulce</a>
       a napiš na <a>prostredoskolaky<span style="display:none;">loskarlos</span>@fi.muni.cz</a>.</p>

       <p>Použité fotografie jsou z archívu jednotlivých akcí a archívu PřF
       a FI.</p>

       <p>Design: <a href="https://adelastopka.myportfolio.com/"
       target="_blank">Adéla Stopka</a>, technická realizace:
       <a href="http://apophis.cz/" target="_blank">Honza Horáček</a>,
       zpracování dat: <a href="https://crocs.fi.muni.cz/people/mukrop" target="_blank">Martin Ukrop</a>.</p>
      </div>

      <div class="col-md-3 hidden-xs col-sm-4 brochure-div">
       <a href="/static/brozura.pdf">
        <img class="brochure-image" src="/static/brochure.png" alt="Obrázek brožury" />
       </a>
      </div>
     </div>
    </div>
   </div>

   <div class="container-flex" id="footer">
    <div class="container">
     <div id="footer-flex">
      <div class="logos">
       <a id="logo-sci" href="http://sci.muni.cz/" target="_blank"></a>
       <a id="logo-fi" href="http://fi.muni.cz/" target="_blank"></a>
       <a id="logo-econ" href="http://econ.muni.cz/" target="_blank"></a>

       <div class="logos-invisible">
        <!-- Preload hover logos to prevent flickering. -->
        <img src="/static/logo/sci-hover.svg" width="1" height="1" />
        <img src="/static/logo/fi-hover.svg" width="1" height="1" />
        <img src="/static/logo/econ-hover.svg" width="1" height="1" />
       </div>
      </div>

      <div id="footer-text">
       <p><a href="https://creativecommons.org/licenses/by-nc/4.0/">
          CC BY-NC v4.0</a> Masarykova univerzita<br>
          Poslední změna: {{build_datetime}}</p>
      </div>
     </div>
    </div>
   </div>
  </div>

  <script>
  $(function() {
      $('#seminars-list li.activity-highlighted').shuffle();
      $('#seminars-list li.activity-normal').shuffle();
      $('#events-list li').shuffle();

      // Call Gridder
      $('.gridder').gridderExpander({
          scroll: true,
          scrollOffset: 5,
          scrollTo: "listitem",               // panel or listitem
          animationSpeed: 400,
          animationEasing: "easeInOutExpo",
          showNav: false,                     // Show Navigation
          nextText: "Next",                   // Next button text
          prevText: "Previous",               // Previous button text
          closeText: "Close",                 // Close button text
          onStart: function(){
              //Gridder Inititialized
          },
          onContent: function(){
              //Gridder Content Loaded
          },
          onClosed: function(){
              //Gridder Closed
          }
      });
  });
  </script>

  <script type="text/javascript">
      $('.btn-more-info').on('click', function(e) {
          e.preventDefault();
          let target = $("#{{about-id}}");
          $('html, body').stop().animate({
              scrollTop: target.offset().top
          }, 1000);
      });
  </script>

 </body>
</html>
